.titulo-principal{
    padding-left: 30px;
    text-align: center;
}

#banner{
    width: 100%;
    height: 550px;
}

.principal{
    background: #fffefd;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:rgb(0, 0, 0);
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: rgb(153, 153, 153);
    padding: 80px;
    text-align: center;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

